<head>
    <title>Đăng Ký Tổ Hợp</title>
    <link rel="stylesheet" href="/css/maintenance.css">
</head>

<div class="content">
    <div class="text d-flex flex-column align-items-center">
        <h2>TRANG WEB ĐANG ĐƯỢC BẢO TRÌ!</h2>
        <h2>VUI LÒNG QUAY LẠI SAU</h2>
    </div>
</div>