<head>
    <title>Đăng Ký Tổ Hợp | Tạo Thông Báo</title>
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/noti-generator.css">
</head>

<div id="master">
    <div class="school-info">
        <img class="school-banner" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1752812401/school_banner_second_new_un0i6r.png">
        <div class="banner-container">
            <img class="school-banner-second" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
            <div class="school-info-detail fs-5">
                <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
            </div>
        </div>
    </div>
    <div class="box-radius shadow">
        <div class="card-body p-0">
            <div class="content" style="display: none;">
                <h4>Hướng dẫn xuất bản và lấy liên kết công khai từ Google Docs</h4>
                <div class="content-info container mt-4">
                    <div class="box-content bc-1">
                        <h5><b>Bước 1:</b> Tải tệp Word lên Google Drive</h5>
                        <p class="main-text"> Để bắt đầu, vui lòng truy cập vào <a href="https://drive.google.com/">Google Drive</a>. Tại đây, người dùng nhấn vào nút <b>"Mới"</b> ở góc trên bên trái màn hình, sau đó chọn <b>"Tải tệp lên"</b> từ menu. Hệ thống sẽ cho phép bạn chọn một file Word (.doc hoặc .docx) từ thiết bị cá nhân để tải lên Drive. Sau khi hoàn tất, tệp sẽ xuất hiện trong danh sách tài liệu trên Drive.</p>
                        <div class="d-flex justify-content-center">
                            <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1754408377/geturl-1_xpycjo.jpg" alt="">
                            <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1754408377/geturl-2_g4nm8l.jpg" alt="">
                        </div>
                    </div>
                    
                    <div class="box-content bc-2">
                        <h5><b>Bước 2:</b> Mở tệp bằng Google Docs</h5>
                        <p class="main-text"> Khi file đã được tải lên, người dùng hãy nhấp chuột phải vào tên tệp trong Google Drive, chọn mục <b>"Mở bằng"</b> và sau đó chọn <b>"Google Tài liệu"</b>. Hành động này sẽ chuyển đổi tệp Word sang định dạng Google Docs, giúp bạn chỉnh sửa và định dạng trực tiếp trên nền tảng web của Google. Tài liệu lúc này đã sẵn sàng để chia sẻ và xuất bản.</p>
                        <div class="d-flex justify-content-center">
                            <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1754408377/geturl-4_uowzq5.jpg" alt="">
                        </div>
                    </div>
                    
                    <div class="box-content bc-3">
                        <h5><b>Bước 3:</b> Truy cập tính năng xuất bản tài liệu</h5>
                        <p class="main-text"> Tại giao diện Google Docs, hệ thống hướng dẫn bạn vào menu <b>"Tệp"</b> trên thanh công cụ, di chuột đến mục <b>"Chia sẻ"</b>, sau đó chọn <b>"Xuất bản lên web"</b>. Đây là <b>bước cầ</b>n thiết để tạo một đường dẫn công khai cho phép người khác truy cập tài liệu mà không cần quyền chỉnh sửa hay xem riêng tư</p>
                        <div class="d-flex justify-content-center">
                            <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1754408377/geturl-5_hzq64k.jpg" alt="">
                        </div>
                    </div>
                    
                    <div class="box-content bc-4">
                        <h5><b>Bước 4:</b> Xuất bản tài liệu lên web</h5>
                        <p class="main-text"> Trong hộp thoại <b>"Xuất bản lên web"</b>, vui lòng đảm bảo bạn đang ở tab <b>"Liên kết"</b> (mặc định). Sau đó, nhấn nút <b>"Xuất bản"</b> và xác nhận nếu hệ thống yêu cầu. Ngay sau đó, Google Docs sẽ cung cấp cho bạn một đường dẫn có định dạng:</p>
                        <p class="id-docs">https://docs.google.com/document/d/e/<b>[ID]</b></p>
                        <p>Trong đó <b>[ID]</b> là mã định danh của tài liệu. Đây chính là dữ liệu mà bạn dùng để nhúng file thông báo vào.</p>
                        <div class="d-flex justify-content-center">
                            <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1754408378/geturl-6_lnzgyb.jpg" alt="">
                        </div>
                    </div>

                    <div class="box-content bc-5">
                        <h5><b>Bước 5:</b> Hoàn tất và sử dụng liên kết</h5>
                        <p class="main-text"> Sau khi đã sao chép <b>[ID]</b> được cung cấp, bạn có thể trở lại hệ thông đăng ký tổ hợp ở trang <a href="/notification/generator">Tạo thông báo</a> đẻ nhập dữ liệu dán <b>[ID]</b> file cho bài thông báo.</p>
                        <div class="d-flex justify-content-center">
                            <img src="https://res.cloudinary.com/dwoymvppw/image/upload/v1754464275/geturl-8_nfyksj.jpg" alt="" style="height: 10pc;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="d-flex justify-content-center text-center">
            <p class="footer-text mb-0">
                © 2025 Trường THPT Duy Tân, Phường Quảng Phú, TP. Đà Nẵng.
            </p>
        </div>
    </div>
</div>

<div id="loading-full" class="position-fixed" style="display: flex;">
    <div class="d-flex align-items-center flex-column">
        <h2 style="font-family: 'Lexend', sans-serif;color:#29a9ef;">Đang tải dữ liệu...</h2>
        <div class="spinner-border mt-4" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function () {
        document.getElementById('body-app').style.overflowY = 'auto';
        document.getElementById('loading-full').style.display = 'none';
        document.querySelector('.card-body .content').style.display = 'block';
    });
</script>
