@import "breakpoints";

.content {
  margin-top: 10pc;
}

.content p {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.content p i {
  color: #3cd244;
}

.content img {
  width: 30px;
  height: 30px;
}

@include respond(phone-sm) {
  #all-content {
    width: 100%;
  }

  #master {
    height: 100% !important;
  }

  body {
    align-items: start !important;
  }

  .content {
    margin-top: 6pc;
  }

  .content {
    padding: 25px;
  }

  .content h3 {
    font-size: 18px;
  }

  .content p {
    font-size: 18px;
  }

  .content img {
    width: 28px;
    height: 28px;
  }
}
