@import "breakpoints";

.sidebar-content .home .d-flex {
  height: auto !important;
}

.card-body.ps-0 {
  font-size: 11px;
}

.dash-height {
  height: 26px;
  width: 1px;
  background-color: #ccc;
}

.sort-box .sort-title {
  background-color: #8dfff5;
  padding: 10px;
  padding-left: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sort-box .sort-title:hover {
  background-color: #b2fff9;
  cursor: pointer;
}

.sort-content {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sort-box .sort-content:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.sort-box .list-sort {
  list-style: none;
}

.sort-box .list-sort > li:not(.active) {
  padding: 10px;
  padding-left: 25px;
  background-color: aliceblue;
  opacity: 1;
  transition: all 0.8s ease;
}

.list-sort .title i {
  opacity: 0;
  transition: all 0.5s ease;
}

.list-sort .title i.ms-1 {
  opacity: 1;
  transition: all 0.5s ease;
}

.type-sort:hover,
.sort-box .list-sort > li.title:hover {
  background-color: #e3e7ea;
  cursor: pointer;
}

.sort-box .list-sort li.active,
.sort-box .list-sort li.active ul {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.sub-li-type:not(.title) ul {
  list-style: none;
}

.sort-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.sort-content.active {
  opacity: 1;
  max-height: 100%;
  transition: all 0.5s ease;
}

.sort-box {
  width: 100%;
  text-align: start;
}

.dropdown-menu.show {
  position: absolute;
  top: 40px;
  left: 96px;
  margin: 0px;
  transform: translate3d(-108px, 0px, 0px);
}

.dropdown-menu.show:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.dropdown-menu li {
  text-align: center;
  padding: 10px;
}

.dropdown-menu li a:hover,
.dropdown-menu li:hover {
  background-color: #ccc;
}

.save-doc-icon {
  color: #b6b6b6;
}

.save-doc-icon.saved {
  color: #eae502;
}

.save-doc-icon:hover {
  color: #cacaca;
  cursor: pointer;
}

.save-doc-icon.saved:hover {
  color: #e1dd08;
  cursor: pointer;
}

#container-submitted {
  display: flex;
  flex-wrap: wrap;
  height: 45pc;
  overflow-y: scroll;
  max-width: 89% !important;
  padding-top: 15px !important;
}

#container-submitted .card .img-box,
.radios-fil {
  align-items: start;
}

#container-submitted .badge {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 12px;
  border: 1px solid;
  font-weight: 500;
  display: inline-block;
}

#container-submitted .badge-rejected {
  background-color: #fff1f0;
  color: #c20d16;
  border-color: #f5222d;
  box-shadow: 0 0 3px #f5222d !important;
}

#container-submitted .badge-approved {
  background-color: #f6ffed;
  color: #329600;
  border-color: #4ed10c;
  box-shadow: 0 0 3px #3ebc00 !important;
}

#container-submitted .badge-submitted {
  background-color: #f5f5f5;
  color: #595959;
  border-color: #6b6b6b;
  box-shadow: 0 0 3px #6b6b6b !important;
}

.container-submited-list .title {
  justify-content: space-between;
}

.search-name-div {
  width: 30pc;
}

#search-name-btn {
  margin-left: 20px;
}

.radios-fil .card.border-light {
  width: max-content;
}

#radios-combination-1,
#radios-combination-2,
.row > .col-md-8 .nation {
  display: flex;
}

#all-content {
  height: max-content;
}

.not-data img {
  width: 20pc;
}

.infor-quantity {
  display: flex;
  align-items: center;
}

.infor-quantity p {
  font-size: 19px;
  margin: 0;
}

#container-submitted .badge-card {
  position: absolute;
  left: 0;
  top: -19px;
  height: 20px;
  width: max-content;
  color: #fff;
  background-color: rgba(108, 117, 125, 1);
  padding: 0 25px;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.name-status {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-weight: 600;
}

.name-status > h6 {
  font-size: 18px;
  white-space: nowrap; /* Không xuống dòng */
  overflow: hidden; /* Ẩn phần tràn */
  text-overflow: ellipsis;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #333;
}

.details span {
  font-weight: bold;
}

.details .time {
  font-size: 11px;
  color: #777;
}

@include mobile-all-landscape {
  .dash-height {
    display: none;
  }

  #header {
    display: none;
  }

  #sidebar {
    height: 100%;
  }

  #master {
    padding: 1px;
  }

  #container-submitted {
    max-width: 65% !important;
  }

  .radios-fil {
    flex-direction: column;
  }

  .container-submited-list .title {
    flex-direction: column;
  }

  .container-submited-list .title .btn-group {
    margin: 20px 0;
    margin-left: auto;
  }

  .filter-box {
    flex-direction: column;
  }

  .search-name-div {
    width: 100%;
    margin-bottom: 10px;
  }

  #search-name-btn {
    margin-left: auto;
  }

  .card.gender {
    width: 100% !important;
  }

  #master {
    padding: 45px 0px;
  }

  .box-radius {
    margin: 20px 16px;
  }

  #container-submitted img.avatar {
    width: 6pc;
  }

  #container-submitted .card .img-box {
    width: auto;
  }

  .container-submited-list > .row {
    justify-content: center;
    width: auto !important;
  }

  #container-submitted .card > .row {
    width: max-content;
  }

  #container-submitted .card > .row > .col-md-8 {
    width: 11pc;
  }

  .row > .col-md-8 .nation {
    display: none;
  }

  #container-submitted .card > .card-body {
    width: 106%;
  }

  .radios-fil .card.border-light {
    width: 100%;
  }

  #radios-combination-1,
  #radios-combination-2 {
    flex-direction: column;
  }
}

@include respond(phone-sm) {
  .dash-height {
    display: none;
  }

  .sort-box-dad {
    display: none !important;
  }

  .sort-box {
    width: 100%;
    text-align: start;
    width: 78%;
  }

  .sort-box-rep {
    display: block !important;
    position: relative;
    width: 100% !important;
    margin-bottom: 20px;
  }

  .sort-box-rep .sort-content {
    position: absolute;
    z-index: 10;
    max-height: max-content;
    width: 100%;
  }

  .sort-box .sort-title {
    text-align: center;
    padding-left: 0;
  }

  .sort-box .list-sort > li:not(.active) {
    height: max-content;
    border-bottom: 2px solid #ccc;
  }

  .save-doc-icon {
    font-size: 20px;
  }

  #container-submitted {
    max-width: 100% !important;
    justify-content: center;
  }

  .radios-fil {
    flex-direction: column;
  }

  .container-submited-list .title {
    flex-direction: column;
  }

  .container-submited-list .title h3 {
    font-size: 20px;
  }

  .container-submited-list .title .btn-group {
    margin: 20px 0;
    margin-left: auto;
  }

  .dropdown-menu.show {
    top: 40px;
    right: -109px;
    left: auto;
  }

  .filter-box {
    flex-direction: column;
  }

  .search-name-div {
    width: 100%;
    margin-bottom: 10px;
  }

  #search-name-btn {
    margin-left: auto;
  }

  .card.gender {
    width: 100% !important;
  }

  .box-radius {
    margin: 0 !important;
  }

  #container-submitted img.avatar {
    width: 100%;
  }

  #container-submitted .card .img-box {
    width: 98px;
  }

  #container-submitted .d-flex > .col-md-8 {
    width: 231px;
  }

  .container-submited-list > .row {
    justify-content: center;
    width: auto !important;
  }

  #container-submitted .card > .row {
    width: max-content;
  }

  #container-submitted .card > .row > .col-md-8 {
    width: 14pc;
  }

  .row > .col-md-8 .nation {
    display: none;
  }

  #container-submitted .card > .card-body {
    width: 106%;
  }

  #container-submitted .card {
    margin: 1rem 0.5rem !important;
  }

  .radios-fil .card.border-light {
    width: 100%;
  }

  #radios-is-approve,
  #radios-combination-1,
  #radios-combination-2 {
    flex-direction: column;
  }

  #radios-is-approve {
    -webkit-flex-direction: column !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
  }

  .not-data img {
    width: 12pc;
  }

  .not-data h3 {
    font-size: 20px;
  }

  .not-data p {
    text-align: center;
  }

  .infor-quantity p {
    font-size: 15px;
  }

  .details span.main {
    overflow-x: scroll;
    padding-right: 16px;
  }

  .name-status > h6 {
    text-overflow: unset;
    overflow-x: scroll;
    padding-right: 12px;
  }
}
