* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*::selection {
  color: #fff;
  background-color: #29a9ef; }

.invalid span {
  color: red; }

.invalid .login__input {
  border: 1px solid red; }

.mt-75 {
  margin-top: 75px; }

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px; }

#loading-full,
#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  transform: translateY(0px) !important; }

.box.active p {
  opacity: 0; }

.shadow {
  transition: box-shadow 0.3s ease; }

#sidebar {
  width: 100%;
  max-width: 280px;
  min-height: 100vh;
  padding: 16px;
  background-color: #ffffff;
  z-index: 100;
  transition: all 0.3s ease;
  box-shadow: 0 -5px 1rem #afafaf; }

#sidebar.active {
  width: 80px; }

#sidebar .sidebar-content {
  position: sticky;
  top: 16px; }

#sidebar .home {
  position: relative; }

#sidebar.active a,
#sidebar.active .home .d-flex {
  justify-content: center; }

#sidebar .home .d-flex {
  height: 48px; }

#sidebar .home img {
  width: 40px; }

#sidebar .home .fa-solid {
  position: absolute;
  right: -30px;
  top: 4pc;
  color: #ffffff;
  background-color: #29a9ef;
  padding: 9px;
  border-radius: 50%;
  z-index: 10000; }

.home .fa-solid:hover {
  cursor: pointer;
  opacity: 0.9; }

.tittle-sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 8px; }

.box-notification.mobile,
#sidebar.active .home .tittle-sidebar {
  display: none; }

#sidebar .btn-notification,
#sidebar a {
  padding: 0;
  width: 100%;
  padding-left: 18px;
  color: #444444;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  list-style: none;
  margin-top: 10px; }

#sidebar .btn-notification {
  border: none;
  background-color: #fff;
  transition: all 0.4s ease; }

#sidebar.active .btn-notification {
  display: flex;
  justify-content: center;
  align-items: center; }

#sidebar.active .btn-notification i,
#sidebar.active .end-box i,
#sidebar.active a i {
  margin: 0; }

#sidebar button i,
#sidebar a i {
  margin-right: 16px; }

#sidebar .menu-bar a.active {
  background: #00d4ff;
  background: linear-gradient(90deg, #00d4ff 0%, #29a9ef 80%, #1193d4 100%);
  color: #ffffff;
  text-decoration: none;
  box-shadow: 3px 3px #9e9e9e; }

#sidebar .end-box a,
#sidebar .menu-bar a {
  transition: all 0.4s ease; }

#sidebar .btn-notification:hover,
#sidebar .menu-bar a:not(.active):hover {
  background-color: #caeaff;
  color: #444444;
  text-decoration: none;
  transition: all 0.4s ease; }

#sidebar .end-box a:not(.nav-profile):hover {
  background: #ff1c60;
  background: linear-gradient(90deg, #ff1c60 0%, #ff1c60 31%, #ff1c3e 71%, #ff3c3c 100%);
  color: #fff;
  text-decoration: none; }

#sidebar .end-box img {
  margin-right: 8px; }

#sidebar.active .end-box img {
  margin-right: 0; }

#sidebar .nav-profile.active,
#sidebar .nav-profile:hover {
  background-color: #d4d0d1;
  color: #fff;
  text-decoration: none; }

#sidebar .nav-profile img {
  width: 35px;
  border-radius: 50%; }

.dash {
  width: 100%;
  height: 1px;
  background-color: #ccc; }

#sidebar .box {
  display: flex;
  align-items: center; }

#sidebar .box:not(.avatar) {
  margin-left: 16px; }

#sidebar .box.avatar {
  margin-left: 5px; }

#sidebar .box.redirect {
  margin-left: 4px; }

#sidebar.active .box {
  margin-left: 0; }

#sidebar .home .tittle-sidebar,
#sidebar .box .text {
  white-space: nowrap;
  transition: all 0.2s ease; }

#sidebar.active .box .text {
  display: none; }

#sidebar.active .box i {
  margin-right: 0;
  transition: all 0.5s ease; }

#sidebar .show-sidebar #btn-push-sidebar {
  background: #6c757d;
  background: linear-gradient(90deg, #6c757d 0%, #6f7a80 20%, #4f4f4f 100%);
  color: #ffffff;
  padding: 0;
  width: 100%;
  padding-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  list-style: none;
  margin-top: 10px;
  transition: all 0.5s ease;
  box-shadow: 3px 3px #9e9e9e; }

#sidebar.active .show-sidebar #btn-push-sidebar {
  background: #6c757d;
  transition: all 0.5s ease; }

#sidebar .show-sidebar #btn-push-sidebar:hover {
  cursor: pointer; }

#sidebar .show-sidebar i {
  margin-left: 6px; }

#sidebar.active .show-sidebar i {
  margin-left: 0; }

#side-bar-glass.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: none;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc; }

#all-content {
  display: flex;
  transform: translateY(0);
  transition: all 0.5s ease; }

#all-content.translate {
  transform: translateY(-30px); }

#header img {
  height: 40px;
  margin-left: 20px; }

#header .nav-bar-icon {
  height: 100%;
  width: 55px; }

#header .nav-bar-icon.active {
  color: #ffffff;
  background-color: #7b7b7b; }

#nav-bar {
  position: fixed;
  display: none;
  transition: all 0.5s ease; }

#nav-bar.active {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  transition: all 0.5s ease; }

#nav-bar a {
  display: block;
  width: 100%;
  padding: 14px 20px;
  text-decoration: none;
  color: #434343;
  border-bottom: 1px solid #ccc; }

#btn-notifi:not(.nav) {
  position: fixed;
  right: 10px;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #caeaff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  z-index: 10; }

#nav-bar .avatar img {
  width: 25px;
  margin-right: 8px;
  border-radius: 50%; }

#nav-bar a:hover {
  background-color: #d4d0d1; }

#sidebar .end-box,
#all-content .big-content {
  width: 100%; }

#loading h2,
#loading-full h2 {
  color: #29a9ef; }

#loading .spinner-border,
#loading-full .spinner-border {
  width: 3rem;
  height: 3rem;
  color: #29a9ef; }

#loading #tittle-loading,
#loading-full #tittle-loading {
  font-family: "Lexend", sans-serif;
  color: #29a9ef; }

.school-info {
  position: relative;
  height: 20pc;
  display: flex; }

#footer {
  padding: 2pc; }

.footer-text {
  font-size: 16px; }

#glass.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }

#lightbox .lb-image {
  max-width: 90vw !important;
  max-height: 90vh !important;
  width: auto !important;
  height: auto !important;
  object-fit: contain; }

#btn-scroll-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 998;
  background: #82b4cf;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 22px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: 3px 3px #9e9e9e; }

#btn-scroll-top:hover {
  background: #007bbd; }

.notifi-container {
  width: 30pc;
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  display: none;
  margin-left: 80px;
  opacity: 1;
  transition: all 0.5s ease; }

.notifi-container .box-noti {
  position: sticky;
  top: 0;
  height: 100vh; }

.notifi-container.hidden {
  opacity: 0;
  transition: all 0.5s ease; }

.notifi-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.card-footer-notifi {
  color: #007bbd; }

.notifi-body {
  height: 100%;
  overflow-y: scroll;
  padding: 7px; }

.notifi-body .content {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.5s ease; }

.notifi-body .content:hover {
  background-color: #1618230d;
  transition: all 0.5s ease; }

.notifi-body .content img {
  height: 55px;
  margin-right: 15px; }

.notifi-body .content > span {
  padding: 5px !important;
  left: 97% !important;
  top: 14px !important; }

.notifi-body .note p:not(.title) {
  font-size: 14px; }

.box-notification .notifi-container {
  width: 100%;
  margin-left: 0; }

.box-notification .notifi-container h5 {
  font-size: 20px; }

.tab-container {
  width: 600px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 18px;
  border-bottom-right-radius: 10px; }

.tabs {
  display: flex;
  padding: 0; }

.tab {
  flex: 1;
  padding: 12px;
  background: #ffffff;
  border: none;
  color: #00aef1;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  border-right: 1px solid rgba(255, 255, 255, 0.3); }

.tab:last-child {
  border-right: none; }

.tab:hover {
  background: #6ed8ff;
  color: #fff; }

.tab.active {
  color: white;
  background: #00aef1;
  border-bottom: none; }

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  #master {
    margin-left: 80px; }
  #sidebar {
    position: absolute;
    height: 100%; } }

@media (max-width: 955px) and (orientation: landscape) {
  #sidebar {
    padding: 10px;
    position: absolute; }
  #sidebar.active {
    width: 65px; }
  .school-info {
    display: none; }
  #loading .spinner-border,
  #loading-full .spinner-border {
    width: 2rem;
    height: 2rem;
    font-size: 11px; }
  #loading h2,
  #loading-full h2 {
    font-size: 22px; }
  #loading-full {
    transform: translateY(30px) !important; } }

@media (max-width: 440px) {
  .school-info,
  #sidebar {
    display: none; }
  .tittle-sidebar {
    font-size: 10px; }
  .tittle-sidebar .name {
    font-size: 14px; }
  #header {
    display: block;
    height: 50px; }
  #header .nav-img img {
    height: 35px;
    margin-left: 10px; }
  .box-notification.mobile,
  #nav-bar.active,
  #all-content {
    display: block; }
  #all-content .big-content {
    margin-top: 50px; }
  #all-content {
    transform: unset !important; }
  #loading h2,
  #loading-full h2 {
    font-size: 22px; }
  #loading .spinner-border,
  #loading-full .spinner-border {
    width: 35px;
    height: 35px;
    font-size: 14px; }
  #loading #tittle-loading,
  #loading-full #tittle-loading {
    font-size: 25px; }
  #footer {
    padding: 1pc 0;
    display: flex;
    justify-content: center; }
  .footer-text {
    margin-top: 10px;
    width: max-content;
    font-size: 11px; }
  #btn-scroll-top {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    right: 18px; }
  .notifi-container.pc {
    display: none !important; } }
