#master {
  height: auto !important; }

.box-submit-1 button {
  margin-right: 24px; }

.box-submit-4 #btnSubmit,
.box-submit-3 #btnNextStep,
.box-submit-2 #btnNextStep,
.box-submit-1 #btnNextStep {
  margin-right: 24px; }

.avatar-info,
.box-submit-2 .avatar .avatar-img,
.box-submit-2 .avatar {
  align-items: start; }

.avatar-info {
  margin-right: 30px; }

.table-conduct .class {
  padding: 0 20px; }

.table-combination {
  display: block; }

.place-box-rep,
.combination-1,
#combination-box-resp {
  display: none; }

.box-submit-2 .school-result,
.box-choose-combination,
.box-choose-combination .box-select-2,
.box-choose-combination .box-select-1 {
  align-items: center; }

.box-submit-4 .place-birth,
.full-name {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

label.poin {
  margin-top: 24px; }

.box-submit-4 .full-name,
.box-submit-4 .place-birth,
.table-avg-poin .subject,
.table-conduct .type-graduate,
.table-avg-poin .subject {
  padding: 0 15px; }

.offical-info {
  width: 100%; }

.info-parent {
  margin-bottom: 15px; }

@media (max-width: 955px) and (orientation: landscape) {
  .combination-1-rep,
  .row.place-box,
  .combination-1-rep,
  .place-birth.pic,
  .box-radius.step,
  .table-combination,
  #header {
    display: none; }
  #master {
    padding: 0; }
  .card-body.submit {
    padding: 1px; }
  .box-submit-4 #btnSubmit,
  .box-submit-3 #btnNextStep,
  .box-submit-2 #btnNextStep,
  .box-submit-1 #btnNextStep {
    margin-right: 0; }
  .box-submit-2 .school-result {
    flex-direction: column;
    align-items: start; }
  .modal-bodyy.combination {
    height: 17pc; }
  .table-conduct,
  .table-avg-poin {
    overflow-x: scroll;
    margin-right: -2px;
    border: 1px solid #343a40; }
  #input-name,
  table.table-points,
  table.combination {
    width: max-content; }
  .box-choose-combination .box-select-2,
  .box-choose-combination .box-select-1 {
    align-items: center;
    flex-direction: column;
    align-items: start;
    width: 100%; }
  .avatar-info {
    align-items: center; }
  .full-name {
    flex-basis: auto; }
  #combination-box-resp,
  .combination-1 {
    display: block; }
  .col.combination-1,
  .col.combination-2 {
    margin-bottom: 16px; }
  .box-submit-4 .place-birth {
    flex-basis: auto;
    padding: 0 15px; }
  .box-submit-4 .info-parent {
    flex-direction: column; }
  .box-submit-4 .info-parent .detail {
    margin-bottom: 16px; }
  label.poin {
    margin-top: 0; }
  .box-submit-4 .table-conduct td,
  .box-submit-4 .table-avg-poin td {
    padding: 0.375rem 0.75rem 0.375rem 0.75rem; }
  .table-conduct .type-graduate {
    padding: 0 5px; }
  table.table-points {
    width: max-content; }
  #form-submit-combination > .row {
    flex-direction: row; }
  .offical-avatar {
    height: max-content; }
  .place-box-rep {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; }
  .place-box-rep > .row div {
    padding: 0 15px; }
  .col.combination-1,
  .col.combination-2 {
    padding: 0 !important; }
  .modal-container.choose-school {
    padding: 0 2pc; } }

@media (max-width: 440px) {
  .box-radius h4 {
    font-size: 20px; }
  .box-submit-1 div > .card-body {
    padding: 1.25rem 0; }
  .box-submit-1 button {
    margin-right: 0; }
  .box-radius .title {
    flex-direction: column;
    font-size: 20px; }
  .box-radius .title .button {
    margin-top: 20px;
    justify-content: end;
    width: 100%; }
  .box-submit-4 #btnSubmit,
  .box-submit-3 #btnNextStep,
  .box-submit-2 #btnNextStep,
  .box-submit-1 #btnNextStep {
    margin-right: 0; }
  legend {
    font-size: 20px; }
  legend.title {
    font-size: 18px !important; }
  .avatar-info,
  .box-submit-2 .avatar .avatar-img,
  .box-submit-2 .avatar {
    align-items: center; }
  .box-submit-2 .school-result {
    flex-direction: column;
    align-items: start; }
  .box-submit-2 .school-result button {
    margin: 10px 0; }
  .table-conduct,
  .table-avg-poin {
    overflow-x: scroll;
    margin-right: -2px;
    border: 1px solid #343a40; }
  .table-conduct {
    margin-bottom: 30px; }
  .table-conduct .type-graduate {
    padding: 0 5px; }
  tr {
    font-size: 16px; }
  .box-submit-4 label,
  table.table-points,
  table.combination {
    width: max-content; }
  .combination-1,
  #combination-box-resp {
    display: block; }
  .box-choose-combination {
    align-items: start;
    flex-direction: column; }
  .box-choose-combination .box-select-2,
  .box-choose-combination .box-select-1 {
    align-items: center;
    flex-direction: column;
    align-items: start;
    width: 100%; }
  .box-choose-combination .box-select-2 select,
  .box-choose-combination .box-select-1 select {
    margin-right: 0; }
  .full-name {
    flex-basis: auto; }
  .box-radius.step,
  .table-combination,
  .place-box-rep,
  .combination-1-rep {
    display: none; }
  .col.combination-1,
  .col.combination-2 {
    margin-bottom: 16px; }
  .box-submit-4 .place-birth {
    flex-basis: auto;
    padding: 0 15px; }
  .box-submit-4 .info-parent .detail {
    margin-bottom: 16px; }
  label.poin {
    margin-top: 0; }
  .box-submit-4 .table-conduct td,
  .box-submit-4 .table-avg-poin td {
    padding: 0.375rem 0.75rem 0.375rem 0.75rem; }
  .table-conduct .type-graduate {
    padding: 0 5px; }
  .box-submit-2 .row,
  .box-submit-4 .info-parent,
  #form-submit-combination > .offical-info,
  #form-submit-combination > .row {
    flex-direction: column; }
  .box-submit-4 label.point {
    width: 100%; } }
